<div class="row">
    <div class="col-12">
        <div class="text-center mt-3 error404-title">
            <h1>HỆ THỐNG THÔNG TIN SINH VIÊN</h1>
        </div>
        <div class="text-center error404-content">
            <h1>Oops!</h1>
            <h2 class="text-danger pb-3"><%= error %></h2>
            <a href="/user/login" class="btn btn-primary rounded-pill">Đến trang chủ</a>
        </div>
    </div>
</div>
